.alergeno-item {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

.alergeno-icono {
    display: inline-block;
    width: 20px;
    height: 20px;
    background-color: #888;
    border-radius: 3px;
}

/* La ventanita oculta */
.alergeno-tooltip {
    visibility: hidden;
    background-color: #333 !important;
    color: #fff;
    text-align: center;
    padding: 6px 12px;
    border-radius: 5px;
    position: absolute;
    z-index: 100;
    bottom: 140%;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    transition: opacity 0.3s;
    font-size: 13px;
    white-space: nowrap;
    width: max-content !important; /* Fuerza a que la caja envuelva todo el texto */
    height: auto !important; /* Evita que se quede pequeña */
    line-height: normal;
}

/* Mostrar al pasar el ratón */
.alergeno-item:hover .alergeno-tooltip {
    visibility: visible;
    opacity: 1;
}