.header-principal {
    display: flex; /*poner todos en una linea */
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    background-color: #333333;
}

.img-logo {
    width: 150px;
    height: 50px;
    background-color: #cccccc;
    display: block;
}
.header-logo-centro {
    position: absolute; /*para que no actue como un objeto normal con el space between*/
    left: 50%;
    transform: translateX(-50%); /* centrar sobre su eje */
    background-color: #eee;
}

.img-logo-centro {
    width: 300px;
    height: 80px;
    background-color: #786f6f;
    display: block;
}

.img-home {
    width: 50px;
    height: 50px;
    background-color: #cccccc;
    display: block;
}

.header-centro, .header-derecha {
    display: flex;
    gap: 15px; /*espacio entre botones*/
}

.btn-dummy {
    background-color: #818181;
    color: white;
    text-decoration: none;
    padding: 10px 20px; /* tamaño botón */
    border-radius: 8px; /* redondear bordes */
    font-family: sans-serif;
    font-weight: bold;
}