:root { /*COLORES PRINCIPALES*/
    --fondo-crema: #FFF5E9;
    --coral-principal: #E3412B;
    --marron-boton: #4E1A0A;
}

.header-principal {
    display: flex; /*poner todos en una linea */
    justify-content: space-between;
    align-items: center;
    padding: 0px 80px;
    height: 120px;
    background-color: var(--fondo-crema);
    border-bottom: 5px solid var(--coral-principal);
}

.img-logo {
    width: 150px;
    height: 50px;
    background-color: #cccccc;
    display: block;
}
.header-logo-centro {
    position: absolute; /*para que no actue como un objeto normal con el space between*/
    left: 50%;
    transform: translateX(-50%); /* centrar sobre su eje */
    background-color: white;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 4px solid var(--marron-boton);
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 8px 8px 0px rgba(78, 26, 10, 0.1);
    transition: transform 0.4s ease;
}

.header-logo-centro:hover { /*EFECTO DE MOVIMIENTO PARA EL LOGO*/
    transform: translateX(-50%) rotate(10deg) scale(1.1);
}

.img-logo-centro {
    width: 90px;
    height: 90px;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
}

.img-home {
    width: 50px;
    height: 50px;
    background-color: #cccccc;
    display: block;
}

.header-centro, .header-derecha {
    display: flex;
    gap: 15px; /*espacio entre botones*/
}

.btn-dummy {
    background-color: var(--marron-boton);
    color: white;
    text-decoration: none;
    padding: 16px 36px; /* tamaño botón */
    border-radius: 60px; /* redondear bordes */
    font-weight: 700;
    font-size: 16px;
    letter-spacing: 1.5px;
    transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    box-shadow: 6px 6px 0px rgba(78, 26, 10, 0.2);

}

.btn-dummy:hover {
    background-color: var(--coral-principal);
    transform: translateY(-4px) scale(1.03);
    box-shadow: 10px 10px 0px rgba(78, 26, 10, 0.15);
}