.enlace-tarjeta {
    text-decoration: none !important;
    color: inherit;
    display: block;
    margin-bottom: 30px;
    font-family: 'Momo Trust Display', sans-serif;
}

.tarjeta-receta {
    display: flex;
    background-color: #FFFFFF;
    border: 4px solid #4E1A0A;
    border-radius: 30px;
    padding: 35px;
    gap: 40px;
    max-width: 950px;
    margin: 15px auto;
    transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    position: relative;
    box-shadow: 10px 10px 0px rgba(78, 26, 10, 0.1);
}

.btn-fav-receta {
    font-size: 35px;
    color: #4E1A0A;
    cursor: pointer;
    transition: all 0.3s ease;
    line-height: 1;
    position: relative;
    z-index: 10;
}

.btn-fav-receta:hover {
    color: #E3412B;
    transform: scale(1.3) rotate(10deg);
}

.receta-dummy-img {
    width: 280px;
    height: 220px;
    background-color: #FFF5E9;
    border: 4px solid #4E1A0A;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: inset 4px 4px 0px rgba(78, 26, 10, 0.05);
}

.receta-dummy-img::after {
    content: "X";
    color: #4E1A0A;
    font-size: 80px;
    font-weight: bold;
}

.receta-info {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.receta-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.receta-titulo {
    margin: 0;
    font-size: 28px;
    font-weight: bold;
    color: #4E1A0A;
    text-transform: uppercase;
}

.receta-detalles {
    display: flex;
    justify-content: space-between;
    gap: 50px;
}

.detalles-datos {
    min-width: 200px;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.lista-mini {
    list-style: none;
    padding: 0;
}

.lista-mini li {
    font-size: 18px;
    margin-bottom: 10px;
    color: #4E1A0A;
    font-weight: bold;
}

.fila-iconos-receta {
    display: flex;
    gap: 12px;
}

.fila-iconos-receta span {
    width: 35px;
    height: 25px;
    background-color: #E3412B;
    border: 2px solid #4E1A0A;
    border-radius: 6px;
}

.detalles-desc {
    flex: 3;
}

.detalles-desc p {
    margin: 0;
    font-size: 18px;
    line-height: 1.6;
    color: #4E1A0A;
    text-align: left;
}

.enlace-tarjeta:hover .tarjeta-receta {
    background-color: #FFF5E9;
    transform: translateY(-5px);
    box-shadow: 15px 15px 0px rgba(78, 26, 10, 0.15);
}