/* TARJETA VERTICAL PEQUEÑA */
.tarjeta-v {
    background-color: #e6e6e6;
    border: 6px solid #999;
    border-radius: 20px;
    padding: 15px;
    width: 220px; /* Tamaño reducido */
    text-align: center;
}

/* Titulo */
.tarjeta-v-header h2 {
    margin: 0 0 15px 0;
    font-size: 18px;
}

/* Imagen */
.placeholder-v {
    width: 100%;
    height: 100px;
    background-color: #777;
    border-radius: 6px;
    margin-bottom: 15px;
}

/* Texto de una sola columna */
.tarjeta-v-content p {
    margin: 5px 0;
    font-size: 13px;
    color: #333;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}