.tarjeta-v {
    background-color: #FFFFFF;
    border: 4px solid #4E1A0A;
    border-radius: 30px;
    padding: 25px;
    width: 280px;
    text-align: center;
    box-shadow: 8px 8px 0px rgba(78, 26, 10, 0.1);
    transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    font-family: 'Momo Trust Display', sans-serif;
}

.tarjeta-v:hover {
    transform: translateY(-5px);
    box-shadow: 12px 12px 0px rgba(78, 26, 10, 0.15);
}

.tarjeta-v-header h2 {
    margin: 0 0 20px 0;
    font-size: 24px;
    color: #4E1A0A;
    font-weight: bold;
    text-transform: uppercase;
}

.placeholder-v {
    width: 100%;
    height: 140px;
    background-color: #FFF5E9;
    border: 3px solid #4E1A0A;
    border-radius: 15px;
    margin-bottom: 20px;
    box-shadow: inset 4px 4px 0px rgba(78, 26, 10, 0.05);
}

.tarjeta-v-content p {
    margin: 10px 0;
    font-size: 16px;
    color: #4E1A0A;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-weight: bold;
}