<!-- header.component.html -->
<header class="header-principal">

  <div class="header-izquierda">
    <!-- El botón del menú móvil. Su lógica la haremos después -->
    <button class="hamburger-btn" id="burgerBtn" aria-label="Abrir menú">☰</button>

    <a routerLink="/" class="logo-link">
      <img src="/img/PrimaryLogo.png" alt="Logo What's In Your Fridge" class="img-logo">
    </a>
  </div>

  <nav class="header-centro">
    <!-- routerLinkActive="active-nav" le dice a Angular: "Si la URL coincide con este routerLink, añádele la clase 'active-nav' a este botón" -->
    <!-- [routerLinkActiveOptions]="{exact: true}" es crucial para el enlace "Inicio", porque la ruta "/" siempre está presente en todas las rutas (ej. /login). Esto asegura que solo se marque "Inicio" cuando estés exactamente en "/" -->
    <a routerLink="/" routerLinkActive="active-nav" [routerLinkActiveOptions]="{exact: true}" class="btn-nav-inicio">Inicio</a>
    <a routerLink="/favoritos" routerLinkActive="active-nav" class="boton-sesion" id="nav-favoritos">Mis Favoritos</a>
    <a routerLink="/subir-receta" routerLinkActive="active-nav" class="boton-sesion" id="nav-subir">Subir Receta</a>
    <a routerLink="/premium" routerLinkActive="active-nav" class="boton-sesion" id="nav-premium">Premium</a>
  </nav>

  <nav class="header-derecha">
    <a routerLink="/login" routerLinkActive="active-nav" class="boton-sesion" id="nav-auth">Entrar</a>
  </nav>
</header>

<div class="mobile-menu-drawer" id="mobileMenu">
  <nav class="mobile-nav-links">
    <a routerLink="/" routerLinkActive="active-nav" [routerLinkActiveOptions]="{exact: true}" class="mobile-link">Inicio</a>
    <a routerLink="/favoritos" routerLinkActive="active-nav" class="mobile-link">Mis Favoritos</a>
    <a routerLink="/subir-receta" routerLinkActive="active-nav" class="mobile-link">Subir Receta</a>
    <a routerLink="/premium" routerLinkActive="active-nav" class="mobile-link">Premium</a>
    <a routerLink="/login" routerLinkActive="active-nav" class="mobile-link auth-link">Entrar</a>
  </nav>
</div>
