<div class="contenedor-tarjeta-v">
  <a [routerLink]="['/ver-receta', recetaData?.id]" class="enlace-tarjeta">
    <article class="tarjeta-v">
      <header class="tarjeta-v-header">
        <h2 style="font-size: 1.1rem; text-align: center;">{{ recetaData?.titulo }}</h2>
      </header>

      <div class="tarjeta-v-img">
        <div class="placeholder-v"
             [style.backgroundImage]="'url(' + recetaData?.imagen + ')'"
             style="background-size: cover; background-position: center; width: 100%; height: 100%;">
        </div>
      </div>

      <div class="tarjeta-v-content">
        <p>⏱️ {{ recetaData?.tiempo }}</p>
        <p>👨‍🍳 {{ recetaData?.dificultad }}</p>
        <p *ngIf="recetaData?.autorNombre">👤 {{ recetaData?.autorNombre }}</p>
      </div>
    </article>
  </a>

  <!-- Nuevo botón de Editar -->
  <button class="btn-editar-tarjeta" (click)="irAEditar($event)">✏️ Editar</button>
</div>
