<footer class="footer-principal">
  <div class="footer-top">
    <div class="footer-logo">
      <img src="img/InvertedDarkLogo.png" alt="What's In Your Fridge" class="img-footer">
    </div>

    <div class="footer-social">
      <p><strong>¡SÍGUENOS PARA MÁS RECETAS!</strong></p>
      <div class="social-icons">
        <a href="https://instagram.com" target="_blank" class="icon">
          <img src="img/INSTAGRAM.png" alt="Instagram" class="img-social">
        </a>
        <a href="https://tiktok.com" target="_blank" class="icon">
          <img src="img/TIKTOK.png" alt="TikTok" class="img-social">
        </a>
        <a href="https://youtube.com" target="_blank" class="icon">
          <img src="img/YOUTUBE.png" alt="YouTube" class="img-social img-extra-grande">
        </a>
        <a href="https://www.facebook.com/" target="_blank" class="icon">
          <img src="img/FACEBOOK.png" alt="Facebook" class="img-social">
        </a>
      </div>
    </div>
  </div>

  <div class="footer-links">
    <div class="columna">
      <h4>Explorar</h4>
      <ul>
        <li><a href="index.html">Inicio</a></li>
        <li><a href="#">Recetas Populares</a></li>
        <li><a href="#">Nuevas ideas</a></li>
      </ul>
    </div>

    <div class="columna">
      <h4>Categorías</h4>
      <ul>
        <li><a href="#">Desayunos</a></li>
        <li><a href="#">Cenas Rápidas</a></li>
        <li><a href="#">Vegano</a></li>
      </ul>
    </div>

    <div class="columna">
      <h4>Comunidad</h4>
      <ul>
        <li><a href="SUBIR_RECETA.html">Subir Receta</a></li>
        <li><a href="#">Retos del mes</a></li>
        <li><a href="#">Blog</a></li>
      </ul>
    </div>

    <div class="columna">
      <h4>Legal</h4>
      <ul>
        <li><a href="#">Privacidad</a></li>
        <li><a href="#">Términos de uso</a></li>
        <li><a href="#">Cookies</a></li>
      </ul>
    </div>

    <div class="columna">
      <h4>Cuenta</h4>
      <ul>
        <li><a href="LOGIN.html">Mi Perfil</a></li>
        <li><a href="SUSCRIPCION.html">Hazte Premium</a></li>
        <li><a href="FAVORITOS.html">Mis Guardados</a></li>
      </ul>
    </div>
  </div>
</footer>
