<main class="main-login">

    <h2 class="titulo-login">Inicia Sesión</h2>

    <div class="contenedor-formulario">
        <form id="form-login" action="#" method="POST" class="formulario-login">

            <div class="grupo-input">
                <input
                        type="email"
                        id="emailLogin"
                        placeholder="E-mail"
                        required
                        class="input-oscuro"
                >
            </div>

            <div class="grupo-input">
                <input
                        type="password"
                        id="passLogin"
                        placeholder="Contraseña"
                        required
                        minlength="6"
                        class="input-oscuro"
                >
            </div>

            <div class="opciones-login">
                <label class="checkbox-recordar">
                    <input type="checkbox"> Seguir conectado
                </label>
                <a href="#" class="link-olvido">¿Has olvidado la contraseña?</a>
            </div>

            <button type="submit" class="btn-entrar">Inicia Sesión</button>

            <div class="enlace-registro">
                <a href="REGISTRO.html" class="link-subrayado">¿No tienes cuenta? Registrate</a>
            </div>

        </form>
    </div>

</main>