<section class="contenedor-busqueda">

  <p class="busqueda-label">loremipsunloremipsun</p>

  <div class="barra-busqueda">
    <input type="text" placeholder="loremipsunloremipsun">
    <span class="icono-cerrar-busqueda">☒</span>
  </div>

  <button class="btn-buscar-dummy">LOREMIPSUMLOREMI</button>

  <div class="busqueda-tags">
    <div class="tag">loremipsum <button>×</button></div>
    <div class="tag">loremipsum <button>×</button></div>
    <div class="tag">loremipsum <button>×</button></div>
  </div>

</section>
