<form action="BUSCADOR.html" method="GET" class="contenedor-busqueda">

  <p class="busqueda-label">loremipsunloremipsun</p>

  <div class="barra-busqueda">
    <input type="text" name="buscar" placeholder="loremipsunloremipsun">
    <span class="icono-cerrar-busqueda">☒</span>
  </div>

  <button type="submit" class="btn-buscar-dummy">LOREMIPSUMLOREMI</button>

  <div class="busqueda-tags">
    <div class="tag">loremipsum <span>×</span></div>
    <div class="tag">loremipsum <span>×</span></div>
    <div class="tag">loremipsum <span>×</span></div>
  </div>

</form>