<footer class="footer-minimalista">

    <div class="footer-mini-logo">
        <img src="img/Monochromatic.png" alt="What's In Your Fridge" style="height: 40px; width: auto; object-fit: contain;">
    </div>

    <div class="footer-mini-copy">
        <p>&copy; 2026 What's In Your Fridge</p>
    </div>

    <nav class="footer-mini-links">
        <a href="#">Privacidad</a> &bull;
        <a href="#">Términos</a> &bull;
        <a href="#">Cookies</a>
    </nav>

    <nav class="footer-mini-social">
        <a href="https://instagram.com" target="_blank" class="icon-mini">
            <img src="img/INSTAGRAM.png" alt="Instagram">
        </a>
        <a href="https://tiktok.com" target="_blank" class="icon-mini">
            <img src="img/TIKTOK.png" alt="TikTok">
        </a>
        <a href="https://youtube.com" target="_blank" class="icon-mini">
            <img src="img/YOUTUBE.png" alt="YouTube">
        </a>
        <a href="https://www.facebook.com/" target="_blank" class="icon-mini">
            <img src="img/FACEBOOK.png" alt="Facebook">
        </a>
    </nav>

</footer>