<footer class="footer-principal">

    <div class="footer-top">
        <div class="footer-logo">
            <img src="placeholder-logo.png" alt="Logo de prueba" style="width: 150px; height: 50px; background-color: #ccc;">
        </div>

        <div class="footer-social">
            <p><strong>lorem ipsum</strong></p>
            <div class="social-icons">
                <span class="icon">[X]</span>
                <span class="icon">[X]</span>
                <span class="icon">[X]</span>
                <span class="icon">[X]</span>
                <span class="icon">[X]</span>
                <span class="icon">[X]</span>
            </div>
        </div>
    </div>

    <div class="footer-links">

        <div class="columna">
            <h4>lorem ipsum</h4>
            <ul>
                <li><a href="#">lorem ipsum</a></li>
                <li><a href="#">lorem ipsum</a></li>
                <li><a href="#">lorem ipsum</a></li>
            </ul>
        </div>

        <div class="columna">
            <h4>lorem ipsum</h4>
            <ul>
                <li><a href="#">lorem ipsum</a></li>
                <li><a href="#">lorem ipsum</a></li>
                <li><a href="#">lorem ipsum</a></li>
            </ul>
        </div>

        <div class="columna">
            <h4>lorem ipsum</h4>
            <ul>
                <li><a href="#">lorem ipsum</a></li>
                <li><a href="#">lorem ipsum</a></li>
                <li><a href="#">lorem ipsum</a></li>
            </ul>
        </div>

        <div class="columna">
            <h4>lorem ipsum</h4>
            <ul>
                <li><a href="#">lorem ipsum</a></li>
                <li><a href="#">lorem ipsum</a></li>
                <li><a href="#">lorem ipsum</a></li>
            </ul>
        </div>

    </div>
</footer>