<footer class="footer-minimalista">

    <div class="footer-mini-logo">
        <img src="logo-mini.png" alt="Logo Minimalista">
    </div>

    <div class="footer-mini-copy">
        <p>LOREMIPSUM 2026</p>
    </div>

    <nav class="footer-mini-links">
        <a href="#">lorem ipsum</a> &bull;
        <a href="#">lorem ipsum</a> &bull;
        <a href="#">lorem ipsum</a>
    </nav>

    <nav class="footer-mini-social">
        <span class="icon-square"></span>
        <span class="icon-square"></span>
        <span class="icon-square"></span>
        <span class="icon-square"></span>
    </nav>

</footer>