<header class="header-principal">
    <div class="header-izquierda">
        <a href="index.html">
            <img src="img/Home SINFONDO.png" alt="Inicio" class="img-home">
        </a>
    </div>

    <div class="header-logo-centro">
        <a href="index.html">
            <img src="img/AppIcon.png" alt="Logo" class="img-logo-centro">
        </a>
    </div>

    <div class="header-derecha">
        <a href="LOGIN.html">
            <img src="img/Usuario SINFONDO.png" alt="Perfil" class="img-perfil">
        </a>
    </div>
</header>