<header class="header-principal">
    <div class="header-logo">
        <a href="index.html">
            <img src="img/PrimaryLogo.png" alt="Logo What's In Your Fridge" class="img-logo">
        </a>
    </div>

    <nav class="header-centro">
        <a href="index.html" class="btn-nav-inicio">Inicio</a>

        <a href="FAVORITOS.html" class="boton-sesion" id="nav-favoritos">Mis Favoritos</a>
        <a href="SUBIR_RECETA.html" class="boton-sesion" id="nav-subir">Subir Receta</a>
        <a href="SUSCRIPCION.html" class="boton-sesion" id="nav-premium">Premium</a>
    </nav>

    <nav class="header-derecha">
        <a href="LOGIN.html" class="boton-sesion" id="nav-auth">Entrar</a>
    </nav>
</header>