<header class="header-principal">
    <div class="header-izquierda">
        <button class="hamburger-btn" id="burgerBtn">☰</button>

        <a href="index.html" class="contenedor-icono-bruto icono-casita">
            <img src="img/Home SINFONDO.png" alt="Inicio" class="img-home">
        </a>

        <a href="index.html" class="logo-link logo-horizontal-simple">
            <img src="img/PrimaryLogo.png" alt="Logo What's In Your Fridge" class="img-logo">
        </a>
    </div>

    <div class="header-logo-centro">
        <a href="index.html">
            <img src="img/AppIcon.png" alt="Logo" class="img-logo-centro">
        </a>
    </div>

    <div class="header-derecha">
        <a href="LOGIN.html" id="nav-auth" class="contenedor-icono-bruto">
            <img src="img/Usuario SINFONDO.png" alt="Perfil" class="img-perfil">
        </a>
    </div>
</header>

<div class="mobile-menu-drawer" id="mobileMenu">
    <nav class="mobile-nav-links">
        <a href="index.html" class="mobile-link">Inicio</a>
        <a href="FAVORITOS.html" class="mobile-link">Mis Favoritos</a>
        <a href="SUBIR_RECETA.html" class="mobile-link">Subir Receta</a>
        <a href="SUSCRIPCION.html" class="mobile-link">Premium</a>
        <a href="LOGIN.html" class="mobile-link auth-link">Entrar</a>
    </nav>
</div>