<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Template - Header Simple</title>
    <"link rel="stylesheet" href="../css/header_simple.css">
</head>
<body style="margin: 0; background-color: #ffffff;">

<header class="header-principal">

    <div class="home">
        <a href="main.html">
            <img src="home.png" alt="Inicio" class="img-home">
        </a>
    </div>

    <div class="header-logo-centro">
        <img src="logo_alargado.png" alt="Logo Central" class="img-logo-centro">
    </div>

</header>

</body>
</html>