<header class="header-principal">
    <div class="header-logo">
        <a href="index.html">
            <img src="img/PrimaryLogo.png" alt="Logo What's In Your Fridge" class="img-logo">
        </a>
    </div>

    <nav class="header-centro">
        <a href="index.html" class="boton-sesion">Inicio</a>
        <a href="FAVORITOS.html" class="boton-sesion">Mis Favoritos</a>
        <a href="SUBIR_RECETA.html" class="boton-sesion">Subir Receta</a>
        <a href="SUSCRIPCION.html" class="boton-sesion">Premium</a>
    </nav>

    <nav class="header-derecha">
        <a href="LOGIN.html" class="boton-sesion">Entrar</a>
    </nav>
</header>