<main class="main-login">

    <h2 class="titulo-login">lorem ipsum</h2>

    <div class="contenedor-formulario">
        <form action="#" method="POST" class="formulario-login">

            <div class="grupo-input">
                <input type="text" placeholder="LoremIpsun" required class="input-oscuro">
            </div>

            <div class="grupo-input">
                <input type="password" placeholder="LoremIpsun" required class="input-oscuro">
            </div>

            <div class="opciones-login">
                <label class="checkbox-recordar">
                    <input type="checkbox"> loremipsun
                </label>
                <a href="#" class="link-olvido">loremipsunloremipsun</a>
            </div>

            <button type="submit" class="btn-entrar">LoremIpsun</button>

            <div class="enlace-registro">
                <a href="#">LoremIpsunLoremIsunLoremIpsun</a>
            </div>

        </form>
    </div>

</main>