<main class="perfil-contenedor">
    <section class="perfil-tarjeta">

        <div class="perfil-avatar"></div>

        <div class="perfil-cabecera">
            <h2 class="perfil-nombre">Lorem Ipsum</h2>
            <div class="icon-dummy-pencil"></div>
        </div>

        <form class="perfil-formulario">
            <div class="form-grupo">
                <label>Lorem Ipsum Lorem Ipsum</label>
                <input type="text" class="input-dummy input-oscuro" value="LoremIpsum@LoremIpsum.Lorem" readonly>
            </div>

            <div class="form-grupo">
                <label>Lorem Ipsum Lorem Ipsum</label>
                <input type="text" class="input-dummy input-claro" value="Lorem Ipsum">
            </div>

            <button type="button" class="btn-perfil">Lorem Ipsum</button>

            <hr class="perfil-separador">

            <button type="button" class="btn-perfil">Lorem Ipsum</button>
        </form>

        <div class="perfil-enlaces-inferiores">
            <p>Lorem Ipsum Lorem Ipsum Lorem Ipsum</p>
            <a href="LOGIN.html">Lorem Ipsum Lorem Ipsum Lorem Ipsum</a>
        </div>

    </section>
</main>