<main class="perfil-contenedor">
    <section class="perfil-tarjeta">

        <div class="perfil-avatar">
        </div>

        <div class="perfil-cabecera">
            <h2 class="perfil-nombre">María Cocinitas</h2>
            <div class="icon-dummy-pencil">✏️</div>
        </div>

        <form class="perfil-formulario">
            <div class="form-grupo">
                <label>Correo Electrónico</label>
                <input type="email" class="input-dummy input-oscuro" value="maria.cocina@ejemplo.com" readonly>
            </div>

            <div class="form-grupo">
                <label>Nombre a mostrar</label>
                <input type="text" class="input-dummy input-claro" value="María Cocinitas">
            </div>

            <button type="button" class="btn-perfil">Guardar Cambios</button>

            <hr class="perfil-separador">

            <button type="button" class="btn-perfil">Cambiar Contraseña</button>
        </form>

        <div class="perfil-enlaces-inferiores">
            <p>¿Has terminado de cocinar por hoy?</p>
            <a href="#" id="btn-logout">Cerrar Sesión</a>
        </div>
    </section>
</main>