<article class="receta-detalle-pro">

  <section class="bloque-superior">
    <div class="bloque-foto">
      <span>X</span>
    </div>

    <div class="bloque-info">
      <div class="btn-fav-detalle">❤</div>

      <h2>LOREMIPSUNLOREMIPSUN</h2>

      <div class="info-linea-iconos">
        <span>LoremIpsunLoremIpsun</span>
        <div class="cuadritos"><span></span><span></span><span></span><span></span></div>
      </div>

      <ul class="lista-info-breve">
        <li><span class="cuadrito-mini"></span> LoremIpsun</li>
        <li><span class="cuadrito-mini"></span> LoremIpsun</li>
        <li><span class="cuadrito-mini"></span> LoremIpsun</li>
      </ul>

      <h3>LoremIpsun</h3>
      <p>
        LoremIpsunLoremIpsunLoremIpsunLoremIpsunLoremIpsunLoremIpsunLoremIpsunLoremIpsunLoremIpsunLoremIpsunLoremIpsunLoremIpsunLoremIpsunLoremIpsunLoremIpsun
      </p>
    </div>
  </section>

  <section class="bloque-inferior">
    <aside class="col-ingredientes">
      <h3>LOREMIPSUNLOREMIPSUN</h3>

      <ul class="lista-ingredientes-alergenos">
        <li>LoremIpsun <div class="cuadritos"><span></span><span></span></div></li>
        <li>LoremIpsun <div class="cuadritos"><span></span></div></li>
        <li>LoremIpsun </li>
        <li>LoremIpsun </li>
        <li>LoremIpsun <div class="cuadritos"><span></span><span></span><span></span></div></li>
        <li>LoremIpsun <div class="cuadritos"><span></span><span></span></div></li>
        <li>LoremIpsun <div class="cuadritos"><span></span></div></li>
      </ul>
    </aside>

    <div class="col-instrucciones">
      <h3>LOREMIPSUNLOREMIPSUN</h3>

      <div class="parrafos-instrucciones">
        <p>LoremIpsunLoremIpsunLoremIpsunLoremIpsunLoremIpsunLoremIpsunLoremIpsunLoremIpsun</p>
        <p>LoremIpsunLoremIpsunLoremIpsunLoremIpsunLoremIpsunLoremIpsunLoremIpsunLoremIpsunLoremIpsunLoremIpsunLoremIpsunLoremIpsunLoremIpsunLoremIpsunLoremIpsun</p>
        <p>LoremIpsunLoremIpsunLoremIpsunLoremIpsunLoremIpsunLoremIpsunLoremIpsunLoremIpsunLoremIpsunLoremIpsunLoremIpsunLoremIpsun</p>
        <p>LoremIpsunLoremIpsunLoremIpsunLoremIpsunLoremIpsunLoremIpsunLoremIpsunLoremIpsun</p>
      </div>
    </div>
  </section>

</article>
