<article class="receta-detalle-pro">

  <section class="bloque-superior">
    <div class="bloque-foto" id="receta-foto">
      <span>📷 Cargando foto...</span>
    </div>

    <div class="etiqueta-estrellas" id="receta-estrellas-hero"></div>
    <div class="bloque-info">
      <div class="btn-fav-detalle">❤</div>

      <h2 id="receta-titulo">Cargando receta...</h2>

      <div class="info-linea-iconos">
        <span>Avisos Nutricionales:</span>
        <div class="cuadritos" id="receta-alergenos">
          <span>Cargando...</span>
        </div>
      </div>

      <ul class="lista-info-breve">
        <li><span class="cuadrito-mini">⏱️</span> <span id="receta-tiempo">--</span></li>
        <li><span class="cuadrito-mini">👨‍🍳</span> Dificultad: <span id="receta-dificultad">--</span></li>
        <li><span class="cuadrito-mini">🍽️</span> <span id="receta-raciones">--</span> Raciones</li>
      </ul>

      <h3>Descripción del plato</h3>
      <p id="receta-descripcion">
        Cargando descripción...
      </p>
    </div>
  </section>

  <section class="bloque-inferior">
    <aside class="col-ingredientes">
      <h3>INGREDIENTES</h3>

      <ul class="lista-ingredientes-alergenos" id="receta-ingredientes">
        <li>Cargando ingredientes...</li>
      </ul>
    </aside>

    <div class="col-instrucciones">
      <h3>INSTRUCCIONES PASO A PASO</h3>

      <div class="parrafos-instrucciones" id="receta-instrucciones">
        <p>Cargando instrucciones...</p>
      </div>
    </div>
  </section>

  <section class="zona-reseñas">
    <h3 class="titulo-reseñas-bruto">Reseñas de la Comunidad</h3>

    <div class="reseña-item caja-escribir" id="caja-mi-reseña">
      <div class="usuario-avatar-reseña">
        <img src="img/Usuario SINFONDO.png" alt="Tu foto" id="avatar-escribir">
      </div>
      <div class="cuerpo-reseña">
        <textarea id="texto-nueva-reseña" placeholder="¿Qué te ha parecido la receta? ¡Cuéntanoslo!" class="input-oscuro"></textarea>
        <div class="footer-reseña">
          <div class="selector-interactivo-estrellas" id="selector-puntuacion">
            <span class="estrella-click" data-valor="1">⭐</span>
            <span class="estrella-click" data-valor="2">⭐</span>
            <span class="estrella-click" data-valor="3">⭐</span>
            <span class="estrella-click" data-valor="4">⭐</span>
            <span class="estrella-click" data-valor="5">⭐</span>
          </div>
          <button id="btn-publicar-reseña" class="btn-entrar">Publicar</button>
        </div>
      </div>
    </div>

    <div id="lista-reseñas">
    </div>
  </section>

</article>