<body>
<main class="main-registro">

    <h2 class="titulo-registro">Crea tu cuenta</h2>

    <div class="contenedor-formulario">
        <form action="#" method="POST" class="formulario-registro">

            <div class="grupo-input">
                <input type="text" name="nombre" placeholder="Nombre" required class="input-oscuro">
            </div>

            <div class="grupo-input">
                <input type="email" name="correo" placeholder="E-mail" required class="input-oscuro">
            </div>

            <div class="grupo-input grupo-password">
                <input type="password" name="contrasena" placeholder="Contraseña" required class="input-oscuro">
            </div>

            <div class="grupo-input grupo-password">
                <input type="password" name="confirmar_contrasena" placeholder="Repetir Contraseña" required class="input-oscuro">
            </div>

            <div class="opciones-registro">
                <label class="checkbox-terminos">
                    <input type="checkbox" required> Seguir Conectado
                </label>
            </div>

            <button type="submit" class="btn-registro">Registrarse</button>

            <div class="enlace-login">
                <a href="LOGIN.html" class="link-subrayado">¿Ya tienes cuenta?</a>
            </div>

        </form>
    </div>

</main>