<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Template Login</title>

    <link rel="stylesheet" href="../css/login_registro.css">
</head>
<body>
<main class="main-registro">

    <h2 class="titulo-registro">lorem ipsum</h2>

    <div class="contenedor-formulario">
        <form action="#" method="POST" class="formulario-registro">

            <div class="grupo-input">
                <input type="text" name="nombre" placeholder="LoremIpsun" required class="input-oscuro">
            </div>

            <div class="grupo-input">
                <input type="email" name="correo" placeholder="LoremIpsun" required class="input-oscuro">
            </div>

            <div class="grupo-input grupo-password">
                <input type="password" name="contrasena" placeholder="LoremIpsun" required class="input-oscuro">
            </div>

            <div class="grupo-input grupo-password">
                <input type="password" name="confirmar_contrasena" placeholder="LoremIpsun" required class="input-oscuro">
            </div>

            <div class="opciones-registro">
                <label class="checkbox-terminos">
                    <input type="checkbox" required> loremipsunloremipsunlorem
                </label>
            </div>

            <button type="submit" class="btn-registro">LoremIpsun</button>

            <div class="enlace-login">
                <a href="#">LoremIpsunLoremIsunLoremIpsun</a>
            </div>

        </form>
    </div>

</main>
</body>