<a href="detalle_receta.html" class="enlace-tarjeta">
  <article class="tarjeta-receta">

    <div class="receta-imagen-wrapper">
      <div class="receta-dummy-img"></div>
    </div>

    <div class="receta-info">
      <header class="receta-header">
        <h2 class="receta-titulo">LOREM IPSUM RECETA TITULO</h2>
        <div class="btn-fav-receta">❤</div>
      </header>

      <div class="receta-detalles">
        <div class="detalles-datos">
          <ul class="lista-mini">
            <li>loremipsun</li>
            <li>loremipsun</li>
            <li>loremipsun</li>
          </ul>
          <div class="fila-iconos-receta">
            <span></span><span></span><span></span><span></span><span></span>
          </div>
        </div>

        <div class="detalles-desc">
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
          </p>
        </div>
      </div>
    </div>

  </article>
</a>