
<article class="tarjeta-receta">

  <div class="receta-imagen-wrapper">
    <div class="receta-dummy-img"></div>
  </div>

  <div class="receta-info">

    <header class="receta-header">
      <h2 class="receta-titulo">loremipsunloremipsunloremipsunloremipsun</h2>
      <div class="btn-cerrar-receta">☒</div>
    </header>

    <div class="receta-detalles">

      <div class="detalles-datos">
        <ul class="lista-mini">
          <li>loremipsun</li>
          <li>loremipsun</li>
          <li>loremipsun</li>
        </ul>
        <div class="fila-iconos-receta">
          <span></span><span></span><span></span><span></span><span></span>
        </div>
      </div>

      <div class="detalles-desc">
        <p>loremipsunloremipsunlorem ipsunloremipsunloremipsunl oremipsunloremipsunloremi psunloremipsunloremipsun</p>
      </div>

    </div>
  </div>
</article>
